div.body_background {
    min-height: 800px;
    padding: 10px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

div.about_div {
    border-style: solid;
    border-width: 5px;
    border-color: tomato;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

p.about_us {
    padding: 10px;
    font-size: 110%;
}

body h2 {
    text-align: center;
    margin-bottom: 0;
    color: tomato;
}

table.project_table {
    display: flex;
    padding: 30px;
    justify-content: center;
}

td{
    padding-left: 20px;
    padding-right: 20px;
}