div.body_background {
    min-height: 800px;
}

body h2 {
    text-align: center;
    color: tomato;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

div.access_information {
    max-height: 450px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 110%;
}

div.access_information img {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 10px;
}

div.access_table{
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 10px;
}

iframe {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 50px;
    border: solid;
}