.progressbar {
    --royalblue: #4169e1;

    color: var(--accent);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--royalblue);
    transform-origin: 0%;

    z-index: 99;
}