@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: MPLUSRounded1c-Bold;
  src: url(/fonts/MPLUSRounded1c-Bold.ttf);
}

* {
  font-family: MPLUSRounded1c-Bold;
  font-weight: inherit;
  transform: rotateZ(0.03deg);
}

.drawer-side {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.drawer-side::-webkit-scrollbar {
  display: none;
}

.text-shadow {
  text-shadow: 0 0 10px #4169e1,0 0 10px #4169e1,0 0 10px #4169e1,0 0 10px #4169e1,0 0 10px #4169e1,0 0 10px #4169e1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}