@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ZenMaru;
    src: url(/font/ZenMaruGothic-Bold.ttf);
}

*{
    font-family: "ZenMaru";
    /* outline: 2px red solid; */
}